{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
{% if update %}
<div class="container d-flex justify-content-center ">
<h1>Обновление кабинета</h1>
{% if success_update %}
<p style="color:red">Кабинет обновлен</p>
{% endif %}
<br><br>
<form id = "update_data" method="post">
          {% csrf_token %}
          {{ form }}
</form>
</div>
<div class="container">
<button form = "update_data" type="submit" class="btn btn-primary">Обновить</button>
</div>
{% else %}
<div class="container">
  <nav class="text-left mt-4">
    <p>Логин пользователя: {{profile.username}}</p>
    <p>Имя и фамилия пользователя: {{profile.first_name}} {{profile.last_name}}</p>
    <p>Почта: {{profile.email}}</p>
    <p>Дата регистрации: {{profile.date_joined}}</p>
</nav>
  <a class="btn btn-primary" href="{% url 'board:updatecabinet' pk=request.user.id %}" role="button">Редактировать профиль</a><br><br>
</div>
{% endif %}
{% endblock content %}