{% extends 'base.html' %}
{% block content %}
{% load extras %}
<div class="container ">
<form method="get">
    {{filter.form.as_p}}
    <input type="submit" class="btn btn-primary" value="Искать">
</form>
</div>
<div class="container mt-4">
{% for a in page_obj %}
<ul class = "list-group ">
            <li class = "list-group-item">
                <span class ="ml-3">{{a.company}}</span><br>
                <span class ="ml-3">Проект: {{a.project}}</span><br>
                <span class ="ml-3">Автор: {{a.author}}</span><br>
                <p class ="ml-3">Менеджер: {{a.manager }}</p>
                <p class ="ml-3">Текст комментария: {{a.text }}</p>
            </li>
            <br>
        </ul>
{% endfor %}


{% for contact in page_obj %}
        {{ contact.full_name|upper }}<br>
    {% endfor %}
    <nav class="mt-4" aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">Первая</a>
            </li>
            <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link" href = "{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Предыдущая</a>
                {% endif %}
            </li>

            <li class="page-item">
                <a class="page-link" >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>

            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Следующая</a>
                {% endif %}
            </li>
            <li class="page-item">
                <a class="page-link" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Последняя</a>
            </li>
        </ul>
    </nav>

    </div>
{% endblock content %}