{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center ">
{% if update %}
<h1>Обновление компании</h1>
{% if success_update %}
<p style="color:red">Компания обновлена</p>
{% endif %}
<br><br>
<form id = "update_data" method="post">
          {% csrf_token %}
          {{ form }}
</form>
<button form = "update_data" type="submit" class="btn btn-primary">Обновить</button>
{% else%}
<h1>Менеджер компаний</h1>
{% if success %}
<p style="color:red">Компания добавлена</p>
{% endif %}
<button type="button" class="btn btn-primary ml-4" data-toggle="modal" data-target="#exampleModal">
  Добавить новую компанию
</button>
</div>
<br><br>
<div class="container d-flex justify-content-center ">
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Название компании</th>
      <th scope="col">ФИО директора</th>
      <th scope="col">Описание компании</th>
      <th scope="col">Выполнено</th>
      <th scope="col">Автор</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
{% if request.user.is_superuser == True or request.user.is_staff == True or request.user == i.author%}
  {% for i in bbs %}
    <tr>
      <td>{{i.id}}</td>
      <td><a class ="ml-3" href ="{% url 'board:detail' pk=i.id %}">{{i.name}}</a></td>
      <td>{{i.fio}}</td>
      <td>{{i.content| safe}}</td>
      <td>{{i.done}}</td>
      <td>{{i.author}}</td>
      <td><a href="{% url 'board:updatecompany' i.id %}">Редактировать</a></td>
      <td>
        <form id="delete_form{{i.id}}" action="{% url 'board:deletecompany' i.id %}" method="post">{% csrf_token %}</form>
        <a href="javascript:void()" onclick="delete_question{{i.id}}()">Удалить</a>
        <script>
          function delete_question{{i.id}}(){
            if (confirm("Удалить компанию?")){
                document.getElementById('delete_form{{i.id}}').submit()
            }
          }
        </script>
      </td>
    </tr>
  {% endfor %}

  {%endif%}
  </tbody>
</table>
</div>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление компании</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "add_form" method="post">
          {% csrf_token %}
          {{ form }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button form = "add_form" type="submit" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}