{% extends 'base.html' %}
{% block title %}Проект {{project.title}}{% endblock title %}
{% block content %}
{% if update %}
<div class="container">
<div class="d-flex justify-content-center ">
  <h1>Обновление данных</h1>
  {% if success_update %}
    <p style="color:red">Данные обновлены</p>
  {% endif %}
  <br><br>
  <form id = "update_data" method="post">
            {% csrf_token %}
            {{ form }}
  </form>
</div>
<button form = "update_data" type="submit" class="btn btn-primary">Обновить</button>
</div>
{% else %}
<div class="container ">
  <h2>Проект: {{project.title}}</h2>
  <div class="row">
    <div class="col-sm">
  <nav class="text-left mt-4">
    <p>Компания: {{project.company}}</p>
    <p>Описание проекта: {{project.content }}</p>
    <p>Дата начала: {{project.date1 }}</p>
    <p>Дата завершения: {{project.date2}}</p>
    <p>Цена: {{project.price}}</p>
    <p>Автор: {{project.author}}</p>
  </nav>
    </div>
    <div class="col-sm">
  <nav class="text-right mt-4 ">
    <a class="btn btn-primary" href="{% url 'board:updateproject' pk=project.id %}" role="button">Редактировать</a><br><br>
    <a class="btn btn-primary" href="{% url 'board:deleteproject' pk=project.id %}" role="button">Удалить</a><br><br>
<button type="button" class="btn btn-primary ml-4" data-toggle="modal" data-target="#exampleModal">
  Добавить комментарий
</button>
  </nav>
    </div>
  </div>
</div>
<div class="container">
   <ul class = "list-group mt-2">
     {% if current_comment %}
  <h2>Комментарии:</h2>
  {% for i in current_comment %}
            <li class = "list-group-item">

                <span class ="ml-3">Менеджер: {{i.manager}}</span>

                <span class ="ml-3">Канал общения: {{i.chanel}}</span>
                <span class ="ml-3">Оценка: {{i.ergebnis}}</span><br>
                <span class ="ml-3">Текст комментария: {{i.text}}</span>
                <p class ="ml-3">Автор: {{i.author}}</p>
                <a class ="ml-3" href="{% url 'board:updatecomment' pk=i.id %}" >Редактировать</a>
                <a  class ="ml-3" href="{% url 'board:deletecomment' pk=i.id %}" >Удалить</a>
            </li>
     <br>
        </ul>
  {% endfor %}
  {% endif %}
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление комментария</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "add_form" method="post">
          {% csrf_token %}
          {{ form }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button form = "add_form" type="submit" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}