{% extends 'base.html' %}
{% block content %}
{% load extras %}
    {% if bbs %}
<div class="container ">
<form method="GET">
    {{ filter.form.as_p}}
    <button type="submit" class="btn btn-primary">Искать</button>
  </form>
<br><br><br><br>
    <h1>Компании:</h1>
        {% for a in page_obj %}
        <ul class = "list-group mt-6">
            <li class = "list-group-item">
                <a class ="ml-3" href ="{% url 'board:detail' pk=a.pk %}">{{a.name}}</a><br>
                <span class ="ml-3">Директор: {{a.fio}}</span><br>
                <span class ="ml-3">Описание компании: {{a.content|safe|truncatewords:"10"}}</span><br>
                <p class ="ml-3">Опубликовано: {{a.published|date:"d.m.Y H:i:s" }} Автор: {{a.author}}</p>
            </li>
            <br>
        </ul>
        {% endfor %}

    {% for contact in page_obj %}
        {{ contact.full_name|upper }}<br>
    {% endfor %}
    <nav class="mt-4" aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">Первая</a>
            </li>
            <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link" href = "{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Предыдущая</a>
                {% endif %}
            </li>

            <li class="page-item">
                <a class="page-link" >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>

            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Следующая</a>
                {% endif %}
            </li>
            <li class="page-item">
                <a class="page-link" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Последняя</a>
            </li>
        </ul>
    </nav>


    {% else %}
        Компании не найдены
    {% endif %}
</div>
{% endblock content %}